.grid-presentingMe {
    height: 100vh;
    transition: 500ms;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: crimson;
}
:where(.left, .right){
    background: navajowhite;
    transition: 300ms;
}
:where(.left, .right):hover{
    background-color: crimson;
}
.left,
.right {
    position: relative;
    overflow: hidden;
}

.left h1,
.right h1 {
    font-size: 3rem;
    position: absolute;
    top: 40%;
    left: 10%;
}

.left img,
.right img {
    width: 50%;
    /* Asegura que la imagen ocupa todo el espacio disponible */
    transition: transform 0.3s ease;
}

.left img {
    left: 50%;
    transform: translateX(-50%);
}

.right img {
    right: 50%;
    transform: translateX(50%);
}

.grid-presentingMe:has(.left:hover) {
    grid-template-columns: 1.8fr 0.2fr;
}

.grid-presentingMe:has(.right:hover) {
    grid-template-columns: 0.2fr 1.8fr;
}

.gird-presentingMe img {
    width: 25%;
    position: absolute;
    top: 15%;
    left: 40%;
    border: 2px solid red;
}