.grid-presentingMe {
    height: 75vh;
    transition: 500ms;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-presentingMe a {
    color: #F27507;
}

:where(.left, .right) {

    transition: 300ms;
}

.left,
.right {
    position: relative;
    overflow: hidden;
}

.left h1,
.right h1 {
    font-size: 3rem;
    position: absolute;
    top: 30%;

}

.right h1 {
    right: 10%;
}

.left h1 {
    left: 10%;
}

.left img,
.right img {
    padding-top: 7%;
    width: 600px;
    /* Asegura que la imagen ocupa todo el espacio disponible */
    transition: transform 0.3s ease;
}

.left img {
    position: absolute;
    right: -285px;
}

.right img {
    position: absolute;
    left: -317px;
}

.grid-presentingMe:has(.left:hover) {
    .left img {
        position: absolute;
        top: -65px;
        right: 0px;
        transform: scale(1.15);
    }
    .left button {
        display: block;}

    grid-template-columns: 2fr 0fr;
}

.grid-presentingMe:has(.right:hover) {
    .right img {
        position: absolute;
        top: -65px;
        left: 0px;
        transform: scale(1.15);
    }

    grid-template-columns: 0fr 2fr;
}

.gird-presentingMe img {
    width: 25%;
    position: absolute;
    top: 15%;
    left: 40%;
    border: 2px solid red;
}

.left button {
    & a {
        color: #591E08;
        text-decoration: none;
    }
    display: none;
    position: absolute;
    top:45%;
    left: 20%;
    width: 350px;
    font-size: 25px;
    font-weight: bolder;
    background-color: #F29F05;
    color: #591E08;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 20px 10px 20px 10px;
    /* SOMBRA BOTON: darle sommbre al boton "resgistrarse"*/
    -webkit-box-shadow: 4px 9px 8px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 9px 8px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 9px 8px -4px rgba(0, 0, 0, 0.75);
    font-family: 'Caveat', cursive;
}

.formButton:hover {
    background-color: #F27507;
}