.footer {
    padding: 20px 0;
    background-color: #DEDEDE;
    border-radius: 0.25em;
    box-shadow: 0 -0.5em .7em rgba(0,0,0,0.3);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.social-items {
    color: #F24607;
    text-align: center;
}

.social-items a {
    color: #591E08;
    width: 40px;
    height: 40px;
    margin: 1rem;
    opacity: 0.8;
    line-height: 38px;
    font-size: 1.4rem;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #F27507;
}

.social-items a:hover {
    opacity: 1;
}

.list {
    padding: 0;
    margin-top: 0;
    font-size: 18px;
    line-height: 1.6;
    list-style: none;
    margin-bottom: 0;
    text-align: center;
}

.list a {
    opacity: 0.8;
    color: #F24607;
    text-decoration: none;
}

.list li {
    padding: 0 15px;
    display: inline-block;
}

.list a:hover {
    opacity: 1;
}

.copyright {
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
    color: rgb(181, 175, 175);
}